<div class="fullscreen">
  <ion-content class="background">
    <form (submit)="login()" class="form-backgrpund">
      <div class="card-body">
        <h1>Login</h1>
        <p class="text-muted">Sign In to your account</p>
      </div>
      <ion-item>
      
        <ion-input clearInput type="text" [(ngModel)]="_id" name="_id" placeholder="Email"></ion-input>
      </ion-item>
       

      <ion-item>
      <ion-input   type="password" [(ngModel)]="password" name="password" placeholder="password"  ></ion-input>
    </ion-item>
      <br>
      <br>
      <button ion-button color="secondary" left>Login</button>
      <p class="forSignup" align="center" (click)="signUp()">Sign Up </p>
    </form>
  </ion-content>
</div>