<!--
  Generated template for the IframePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- assets/index.html http://192.168.4.1/                     https://statics-7d7ea.firebaseapp.com/-->
  <iframe height="100%" width="100%" id="iframe" src="http://192.168.4.1/">
    <p>form not loaded</p>
    <!-- style="width:0;height:0;border:0; border:none;" -->

  </iframe>



  <form (submit)="wotorSubmit()" *ngIf="mac_Type == Water">

    <ion-row>

      <ion-col col-6>
        <ion-label>O.H</ion-label>
        <ion-checkbox item-end="item-end" color="dark" checked="false" (ionChange)="datachang($event)"></ion-checkbox>
        <ion-item *ngIf="visabili">
          <ion-input type="number" [(ngModel)]="lenghtOh" name="lenghtOh" placeholder="leng"></ion-input>
          <br>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-label>U.G</ion-label>
        <ion-checkbox item-end="item-end" color="dark" checked="false" (ionChange)="datachanged($event)"></ion-checkbox>
        <ion-item *ngIf="visability">
          <ion-input type="number" [(ngModel)]="lenghtUG" name="lenghtUG" placeholder="leng"></ion-input>
          <br>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item *ngIf="visabili">
          <ion-input type="number" [(ngModel)]="widthOh" name="widthOh" placeholder="width"></ion-input>
          <br>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item *ngIf="visability">
          <ion-input type="number" [(ngModel)]="widthUG" name="widthUG" placeholder="width"></ion-input>
          <br>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item *ngIf="visabili">
          <ion-input type="number" [(ngModel)]="heightOH" name="heightOH" placeholder="height"></ion-input>
          <br>
        </ion-item>
        <ion-label *ngIf="visabili">O.H Motor</ion-label>
        <ion-checkbox *ngIf="visabili" item-end="item-end" color="dark" checked="false" (ionChange)="OHMotor($event)"></ion-checkbox>

      </ion-col>
      <ion-col col-6>
        <ion-item *ngIf="visability">
          <ion-input type="number" [(ngModel)]="heightUG" name="heightUG" placeholder="height"></ion-input>
          <br>


        </ion-item>
        <ion-label *ngIf="visability">U.G Motor</ion-label>

        <ion-checkbox *ngIf="visability" item-end="item-end" color="dark" checked="false" (ionChange)="UGMotor($event)"></ion-checkbox>
      </ion-col>


    </ion-row>
    <br>
    <br>
    <div *ngIf="visability || visabili">
      <button ion-button color="secondary" align="center">Submit</button>

    </div>
  </form>

</ion-content>