<!--
  Generated template for the AddorgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons right>
      <button class="sidemenuBackground" ion-button  (click)="dismiss()">
        <ion-icon name="ios-backspace-outline" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: right;">Organization</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form (submit)="submit()" class="form-backgrpund">
 
    <br>
    
    <ion-item>
      <!--  <ion-label>
            <ion-icon name="ios-person-outline"></ion-icon>
          </ion-label> -->
      <ion-input clearInput type="text" [(ngModel)]="name" name="name" placeholder="name"></ion-input>
    </ion-item>
   <!--  <ion-item>
  
      <ion-input clearInput type="text" [(ngModel)]="org_type" name="org_type" placeholder="Type"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label class="inp-Width inp-bodre-styl" >Categary</ion-label>
      <ion-select [(ngModel)]="SubCategoryId"  [ngModelOptions]="{standalone: true}" (ionChange)="Categary(SubCategoryId);">
        <ion-option value="Home">Home</ion-option>
        <ion-option value="Office">Office</ion-option>
        <ion-option value="Agriculture">Agriculture</ion-option>
        <ion-option value="Bank">Bank</ion-option>
        <ion-option value="Other">Other</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <button ion-button color="nav" >Add organization</button>
    <!-- <p class="forSignup" align="center" (click)="Newhere()">Login</p> -->
  </form>

</ion-content>