<!--
  Generated template for the MotorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>motor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button color="secondary" (click)="showCharts">open chart</button>
</ion-content>
