<!--
  Generated template for the AppliancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="type == 'WaterTank'">



    <ion-slides pager>

      <ion-slide id="slide0">
        <a ion-button [ngStyle]="{'background-color':  lateChipColor }" (click)="publishedEvent()" right>
          <ion-icon ios="md-power" md="md-power"></ion-icon>

        </a>
        <!--   <h1 align='center' style="    margin-top: -59%;position: absolute;    margin-left: 28%;">{{name}}</h1> -->
        <br />
        <!--   <canvas id="doughnut-chart" width="250" height="150" style="    margin-top:-189px;;
                position: absolute;"></canvas>
        <div class="donut-inner">

          <h1 align='center'>{{value}}%</h1>
        </div> -->
        <!-- <svg id="donut-example"></svg> -->
        <div class="donut-chart small">

          <svg id="donut-example"  width="100%" height="100%" ></svg>
        </div>
        <p align="center" style="margin-top:20px">{{todaydate}}-{{todaymonth}}-{{todayYear}} {{todayHourAdd5}}:{{todayMn}}</p>
       <div style="margin-top: 60px">
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>

            <p>Last filed</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>

            <p>Avg daily consumption</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>

           <p>Rate of charge</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
      </div>
       <!--  <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <ion-icon class="listIcon" ios="ios-analytics" md="md-analytics"></ion-icon>
            </ion-thumbnail>
            <p>Last filed</p>
           
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <ion-icon class="listIcon" ios="ios-analytics" md="md-analytics"></ion-icon>
            </ion-thumbnail>
            <p>Avg daily consumption</p>
           
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <ion-icon class="listIcon" ios="ios-analytics" md="md-analytics"></ion-icon>
            </ion-thumbnail>
            <p>Rate of charge</p>
           
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> -->
       <!--  <div align="left" style="margin-left:20px">
        <p >Last filed--------------</p>
        <p >Avg daily consumption -------</p>
        <p >Rate of change ------------</p>
      </div> -->
      </ion-slide>

      <ion-slide style=" height:auto">

        <!-- <h3 align='center'>WATER CONSUMPTION GRAPH </h3> -->
        
        <div class="chartWrapper">
          <div class="chartAreaWrappermotor">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart-motor" height="180" width="350"></canvas>

            </div>
          </div>
        </div>
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart" height="300" width="350"></canvas>

            </div>
          </div>
        </div>



        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart2" height="300" width="350"></canvas>

            </div>
          </div>
        </div>
      
        <!--   <canvas colors="chartColors" id="line-chart" width="800" height="600">

    </canvas> -->
      </ion-slide>

      <!--     <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide> -->

    </ion-slides>
  </div>
  <div *ngIf="type != 'WaterTank'">
    here is no data
  </div>

  <!--   <button ion-btn (click)="showChart1()">
    show
  </button> -->



</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>