<!-- <ion-tabs>
    <ion-tab [root]="rootPage"></ion-tab>
    <ion-tab [root]="rootPage"></ion-tab>
    <ion-tab [root]="rootPage"></ion-tab>
  </ion-tabs>
  -->
  <ion-header>
    <ion-toolbar color="nav">
      <ion-buttons right>
        <button class="sidemenuBackground" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title style="margin-top: 3px;float: right;">tab</ion-title>

    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <iframe  height="100%" width="100%" id="iframe"  src="http://192.168.4.1/">
    </iframe>
    
      <form (submit)="sendEsp()" >
        <ion-item  >
          <ion-input type="number" [(ngModel)]="_id" name="_id" placeholder="Id"></ion-input>
          <br>
        </ion-item>
        <ion-item  >
          <ion-input type="number" [(ngModel)]="number" name="number" placeholder="number"></ion-input>
          <br>
        </ion-item>
        <button ion-button color="secondary" align="center" >Submit</button>
      </form>
  </ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>