<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons left>
      <button class="sidemenuBackground" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: left;">OTTO HOME</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
    <ion-menu id="myMenu" [content]="content">
        <ion-header color="nav">
          <ion-toolbar color="nav">
      
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content class="sidemenuBackground" color="navi">
         <!--  <ion-list inset>
            <button ion-item menuClose *ngIf="isAuthenticated()" (click)="Addorganiziation()">
              Add org
            </button>
      
            <button ion-item menuClose (click)="AddLevel()">
              Add level
            </button>
            <button  ion-item menuClose (click)="AddDevice()">
              Add device
            </button>
      
            <button menuClose ion-item (click)="logout()">
              Logout
            </button>
          </ion-list>
       -->
       <ion-list>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>
        </ion-list>
        </ion-content>
      
      </ion-menu>
      
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
 
 
  <ion-grid>
    <ion-row>
      
        <!-- <ion-col col-4  padding class="grid-view">
            <div (click)="Addorganiziation()">
              <ion-icon align=center class="ion-ion-icon" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
              <br />
              <br />
              <p class="applience-name" align=center>Organization</p>
            </div>
          </ion-col> -->
      <ion-col col-4 *ngFor="let level of  level" padding class="grid-view">
        <div (click)="showsubLevel(level)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>{{level.organizationId}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>