page-sign-up {
    ion-icon {
        display: inline-block;
        font-size: 2.5em;
        padding-left: 10px;
    }
    .button-md-secondary {
        color: #fff;
        background-color: #32db64;
        margin-left: 26px;
    }
    .fullscreen{
        height: 100%;
        width: 100%;

    }
    .card-body{
        padding-left: 28px;
        padding-top: 20px;
    }
    .background{background-color: #e4e5e6;
        // border:7px solid ;
        // border-radius: 5px;

    }
    .form-backgrpund {
        background-color: white;
        margin-top: 127px;
        border-radius: 5px;
        height: 365px;
        width: 80%;
        margin-left: 10%;
    }

    input[type=text] {
        width: 92%;
        padding: 12px 20px;
        margin: 8px 12px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #e4e5e6;
        border-radius: 3px;
        background-color: white !important;
        color: black;
        
    }
    .text-input::-moz-placeholder {
        color: black;
      }
      
      .text-input:-ms-input-placeholder {
        color: black;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: black;
      }
    input[type=password] {
        width: 92%;
        padding: 12px 20px;
        margin: 8px 12px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #e4e5e6;
        border-radius: 3px;
        background-color: white !important;
        color: black;
    }
    .forgetpassword{
color: white;
float: right;
font-family: cursive
    }

    @media only screen and (max-width: 300px ) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }


    @media only screen and (max-width: 600px) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }

    @media only screen and (max-width: 1300px) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }
    
.background-button{
    background-color: white;

       
  
}
    .ico{

        margin-top: 5%
    }
    .forSignup{
        // color: white;
        float: right;
        margin-right: 20px;
    }
    ::-webkit-input-placeholder {
        text-align: left;
     }
     
     :-moz-placeholder { /* Firefox 18- */
        text-align: left;  
     }
     
     ::-moz-placeholder {  /* Firefox 19+ */
        text-align: left;  
     }
     
     :-ms-input-placeholder {  
        text-align: left; 
     }
     .wrapper {
        // text-align: center;
        // color:white;
    }
    
    .button {
         
    }
     .logo-login {
       float: left;
    position: absolute;
    height: 18px;
    padding-right: 9px;
    margin: 22px;
    }    
    .search {
        margin-top: 30px;
        text-align: center;
    }
      .inp-Width {
        width: 60%;
        /*left: 70px;*/
    }.line-vertical {
        color: #d40303;
        padding-left: 13px;
    }    .inp-bodre-style {
        background-color: transparent;
        /*border-style: none*/
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #d40303;
    }
    input::placeholder {
        color: white;
      }

      .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: white;
        -webkit-box-shadow: inset 0 -1px 0 0 white;
        box-shadow: inset 0 -1px 0 0 white;
    }
    
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }
    .button-md-secondary {
        color: #fff;
        background-color: #20a8d8;
        margin-left: 26px;
    }
    
    .button-md-secondary {
        color: #fff;
        background-color: #20a8d8;
    }
}
