page-addlevels {
    .content-md {
        color: #000;
        // background-color: transparent !important;
        background-color: white !important;
    }
.form-backgrpund{
    background-color: white;
    height: 201px;
    border-radius: 10px;
    margin-top: 10px;
}
}
