page-water {
/*     ion-content {
        position: absolute;
        height: 300px;
        background: rgb(250, 18, 18) !important;
        margin-top: 163px;
        width: 90%;
        margin-left: 20px;
        border-radius: 5px;
    } */
}
