<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>OTTO HOME</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!--  <ion-col col-4 padding class="grid-view">
        <div (click)="AddDevice()">
          <ion-icon align=center class="ion-ion-icon" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>Devices</p>
        </div>
      </ion-col> -->
      <!--       <ion-col col-4 *ngFor="let data_hierarchy of  check" padding class="grid-view">
        <div (click)="showsubLevel(data_hierarchy)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>

          <br />
          <br />
          <p class="applience-name" align=center>{{data_hierarchy?.type}}</p>

        </div>
      </ion-col> -->

      <div *ngFor="let data_hierarchy of  check; let i=index">
        <div *ngIf="data_hierarchy.type == 'WaterTank'">
          <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
            <!-- *ngIf="events.length == 0 " -->
            <div align="center" (click)="showsubLevel(data_hierarchy)">
              <!-- <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon> -->
              <img align="center" class="ico-class" src="../assets/icon/ic_water.png" alt="">
              <br />
              <br />
              <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

            </div>
          </div>
        </div> 
        <div *ngIf="data_hierarchy.type == 'Plug'">
          <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
            <!-- *ngIf="events.length == 0 " -->
            <div align="center" (click)="showsubLevel(data_hierarchy)">
              <!-- <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon> -->
              <img align="center" class="ico-class" src="../assets/icon/Switch.png" alt="">
              <br />
              <br />
              <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

            </div>
          </div>
        </div>
         <div *ngIf="data_hierarchy.type == 'Monitor'">
          <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
            <!-- *ngIf="events.length == 0 " -->
            <div align="center" (click)="showsubLevel(data_hierarchy)">
              <!-- <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon> -->
              <img align="center" class="ico-class" src="../assets/icon/ic_ac_close.png" alt="">
              <br />
              <br />
              <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

            </div>
          </div>
        </div>
        <div *ngIf="data_hierarchy.type == 'PowerUnit'">
          <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
            <!-- *ngIf="events.length == 0 " -->
            <div align="center" (click)="showsubLevel(data_hierarchy)">
              <!-- <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon> -->
              <img align="center" class="ico-class" src="../assets/icon/ic_power.png" alt="">
              <br />
              <br />
              <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

            </div>
          </div>
        </div>
        <div *ngIf="data_hierarchy.type != 'PowerUnit' && data_hierarchy.type != 'Monitor' &&  data_hierarchy.type != 'Plug' && data_hierarchy.type != 'WaterTank'">
          <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
            <!-- *ngIf="events.length == 0 " -->
            <div align="center" (click)="showsubLevel(data_hierarchy)">
              <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
              <!-- <img class="ico-class" src="../assets/icon/ic_power.png" alt=""> -->
              <br />
              <br />
              <p class="applience-name-device" align=center>{{data_hierarchy?.name}}</p>

            </div>
          </div>
        </div>
      </div>


    </ion-row>
    <!-- " -->

    <!--  <ion-col col-4 *ngFor="let data_hierarchy of  check ;let i = index" padding class="grid-view">
          <div (click)="showsubLevel(data_hierarchy)">
            <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
  
  
            <br />
            <br />
            <p class="applience-name" align=center>{{data_hierarchy?.type}}</p>
          </div>
        </ion-col> -->

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>