page-login {
     ion-icon {
        display: inline-block;
        font-size: 2.5em;
        padding-left: 10px;
    }
    .button-md-secondary {
        color: #fff;
        background-color: #32db64;
        margin-left: 26px;
    }
    .fullscreen{
        height: 100%;
        width: 100%;

    }
    .card-body{
        padding-left: 28px;
    }
    .background{background-color: #e4e5e6;
        // border:7px solid ;
        // border-radius: 5px;

    }
    .form-backgrpund{
        background-color: white;
        margin-top: 125px;
        border-radius: 5px ;
        height: 300px;
        }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border:2px solid #e4e5e6;
        border-radius: 8px;
        background-color: white;
        color: black;

        
    }
    .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
      }
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border:2px solid white;
        border-radius: 8px;
        background-color: white;
color: black        
        
    }
    .forgetpassword{
color: white;
float: right;
font-family: cursive
    }

    @media only screen and (max-width: 300px ) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }


    @media only screen and (max-width: 600px) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }

    @media only screen and (max-width: 1300px) {
        .background-button{
            background-color: white;
        
               
          
        }
        
    }
    
.background-button{
    background-color: white;

       
  
}
    .ico{

        margin-top: 5%
    }
    .forSignup{
        // color: white;
        float: right;
        margin-right: 20px;
    }
    ::-webkit-input-placeholder {
        text-align: center;
     }
     
     :-moz-placeholder { /* Firefox 18- */
        text-align: center;  
     }
     
     ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;  
     }
     
     :-ms-input-placeholder {  
        text-align: center; 
     }
     .wrapper {
        // text-align: center;
        // color:white;
    }
    
    .button {
         
    }
     .logo-login {
       float: left;
    position: absolute;
    height: 18px;
    padding-right: 9px;
    margin: 22px;
    }    
    .search {
        margin-top: 30px;
        text-align: center;
    }
      .inp-Width {
        width: 60%;
        /*left: 70px;*/
    }.line-vertical {
        color: #d40303;
        padding-left: 13px;
    }    .inp-bodre-style {
        background-color: transparent;
        /*border-style: none*/
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #d40303;
    }
    input::placeholder {
        color: white;
      }
}
