<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  
      <ion-icon ios="ios-exit" md="md-exit" right (click)="logout()"></ion-icon>    
  </ion-navbar>
</ion-header>

<ion-content padding>
{{message}}
</ion-content>
