<ion-menu id="myMenu" [content]="content">
  <ion-header color="nav">
    <ion-toolbar color="nav">

      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sidemenuBackground" color="navi">
   <!--  <ion-list inset>
      <button ion-item menuClose *ngIf="isAuthenticated()" (click)="Addorganiziation()">
        Add org
      </button>

      <button ion-item menuClose (click)="AddLevel()">
        Add level
      </button>
      <button  ion-item menuClose (click)="AddDevice()">
        Add device
      </button>

      <button menuClose ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
 -->
 <ion-list>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>