<!--
  Generated template for the WaterChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>waterChat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>

      <button ion-btn (click)="showChart1()">
          show
        </button>
        <button ion-btn (click)="showChart2()">
            show
          </button>
          <button ion-btn (click)="showChart3()">
              show
            </button>

            <button ion-btn (click)="showChart4()">
                show
              </button>
      
      <canvas id="bar-chart" width="800" height="450"></canvas>



      <canvas id="line-chart" width="800" height="450"></canvas>
      <canvas id="pie-chart" width="800" height="450"></canvas>

      <canvas id="doughnut-chart" width="800" height="450" style="background-color: aquamarine"></canvas>

      <canvas id="bar-chart-grouped" width="800" height="450"></canvas>

    </ion-row>
</ion-content>
