<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons right>
      <button class="sidemenuBackground" ion-button (click)="dismiss()">
        <ion-icon name="ios-backspace-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: right;">Levels</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form (submit)="submit()" class="form-backgrpund">
    <br>
  <ion-item>
    <!--  <ion-label>
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-label> -->
    <ion-input clearInput type="text" [(ngModel)]="name" name="name" placeholder="name"></ion-input>
  </ion-item>
  <ion-item>
    <!--   <ion-label>
          <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        </ion-label> -->
    <ion-input clearInput type="text" [(ngModel)]="org_type" name="org_type" placeholder="Type"></ion-input>
  </ion-item>
  <ion-item>
    <!--   <ion-label>
              <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </ion-label> -->
    <ion-input clearInput type="text" [(ngModel)]="levelId" name="levelId" placeholder="Type"></ion-input>
  </ion-item>
 

  <button ion-button  left>Add Levels</button>
  <!-- <p class="forSignup" align="center" (click)="Newhere()">Login</p> -->
</form>
</ion-content>
