<!--
  Generated template for the OfficedevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>OTTO HOME</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row >
      <!-- <ion-col col-4 padding class="grid-view">
        <div (click)="AddLevel()">
          <ion-icon align=center class="ion-ion-icon" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>Levels</p>
        </div>
      </ion-col> -->
     
      <ion-col col-4 *ngFor="let data_hierarchy of  check ;let i = index" padding class="grid-view">
        <div (click)="showsubLevel(data_hierarchy)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>


          <br />
          <br />
          <!-- <p class="applience-name" align=center (click)="showsubLevel(data_hierarchy)"></p> -->
          <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>
  <!--         <p class="applience-name" align=center>{{data_hierarchy?.devices[0].lenght }}</p> -->
        </div>
      </ion-col>
   
      <!--  <ion-col col-4 *ngFor="let events of  events;let i = index" padding class="grid-view">
        <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>


        <br />
        <br />
        <p class="applience-name" align=center (click)="showsubLevel(data_hierarchy)">{{events.type}}</p>
        <p class="applience-name" align=center (click)="showsubLevel(data_hierarchy)">{{events.value}}</p>

      </ion-col> -->
      <!-- <div *ngFor="let events of  events;let i = index">
            <p class="applience-name" align=center (click)="showsubLevel(data_hierarchy)">{{events?.value}}</p>
        </div> -->
    </ion-row>



  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>