<div class="fullscreen" padding>
  <ion-content class="background">
    <div class="wrapper">
      <!-- <img class="background-image" src="assets/imgs/icon.png" />  -->
    </div>


    <form (submit)="submit()" class="form-backgrpund">
      <div class="card-body">
        <h1>signUp</h1>
        <p class="text-muted">Sign up to your account</p>
      </div>
      <ion-item>
        <ion-label>
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-label>
        <ion-input clearInput type="text" [(ngModel)]="_id" name="_id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        </ion-label>
        <ion-input clearInput type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <br>
      <br>

      <button ion-button color="secondary" left>Login</button>
      <!-- <div align="center ">
        <label class="inp-Width inp-bodre-style">
            <img class="logo-login" src="assets/imgs/img_326343 - Copy.png" alt="">
            <input
            class="wrapper"
             type="text"
            placeholder="Your Name *"
            [(ngModel)]="username" 
            name="username"
            required
            #login_form="ngModel"
            >
         
        </label>
        </div> -->
      <!-- <div align="center wrapper">
          <label class="inp-Width inp-bodre-style">
              <img class="logo-login" src="assets/imgs/Security-Password-2-icon.png" alt="">
           
              <input 
            class="wrapper"
              
              type="password" 
              placeholder="Your password *"   
              [(ngModel)]="password" 
              name="password" 
              required 
            #login_form="ngModel"
              
              >

                      </label>
          </div> -->
      <!-- <p class="error-message" *ngIf="error_message">{{error_message}}</p> -->

      <!-- <p class="forgetpassword">Forget password</p>
      <br>
      <br>
      <br>
      <br>

      <div class="wrapper"> -->

      <!-- <button ion-button class="button background-button center" round [disabled]="!login_form.valid" type="submit">SIGN IN</button> -->
      <!-- </div> -->


      <p class="forSignup" align="center" (click)="Newhere()">Newhere ? Sign Up </p>

    </form>

  </ion-content>
</div>